<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <title>Aplikasi diagnosis kanker Payudara</title>
  </head>
  <body class="flex flex-col justify-center item-center p-8 min-h-screen bg-gradient-to-r from-green-400 to-blue-500 text-gray-800 md:flex-row">
    <main class="bg-white p-16 rounded-lg">
      <h1 class="text-3xl font-bold mb-8">Diagnosis Kanker Payudara:</h1>

      <form action="{{ url_for('predict') }}" method="post" class="flex flex-col">
        <label for="texture_mean" class="mb-2">Texture Mean:</label>
        <input type="number" name="texture_mean" placeholder="Masukan texture_mean" required="required" class="p-4 bg-gray-100 rounded-md" />

        <label for="smoothness_mean" class="mt-4 mb-2">Smoothness Mean:</label>
        <input type="number" name="smoothness_mean" placeholder="Masukan smoothness_mean" required="required" class="p-4 bg-gray-100 rounded-md" />

        <label for="compactness_mean" class="mt-4 mb-2">Compactness Mean:</label>
        <input type="number" name="compactness_mean" placeholder="Masukan compactness_mean" required="required" class="p-4 bg-gray-100 rounded-md" />

        <label for="symmetry_mean" class="mt-4 mb-2">Symmetry Mean:</label>
        <input type="number" name="symmetry_mean" placeholder="Masukan symmetry_mean" required="required" class="p-4 bg-gray-100 rounded-md" />

        <label for="fractal_dimension_mean" class="mt-4 mb-2">Fractal Dimension Mean:</label>
        <input type="number" name="fractal_dimension_mean" placeholder="masukan fractal dimension mean" required="required" class="p-4 bg-gray-100 rounded-md" />

        <label for="texture_se" class="mt-4 mb-2">Texture Se:</label>
        <input type="number" name="texture_se" placeholder="masukan texture se" required="required" class="p-4 bg-gray-100 rounded-md" />

        <label for="smoothness_se" class="mt-4 mb-2">Smoothness Se:</label>
        <input type="number" name="smoothness_se" placeholder="Masukan smoothness mean" required="required" class="p-4 bg-gray-100 rounded-md" />

        <label for="symmetry_se" class="mt-4 mb-2">Symmetry Se:</label>
        <input type="number" name="symmetry_se" placeholder="Masukan symmetry_se" required="required" class="p-4 bg-gray-100 rounded-md" />

        <label for="symmetry_worst" class="mt-4 mb-2">symmetry_worst:</label>
        <input type="number" name="symmetry_worst" placeholder="Masukan symmetry_worst" required="required" class="p-4 bg-gray-100 rounded-md" />

        <button type="submit" class="flex justify-center align-center mt-8 p-4 bg-gradient-to-r from-green-400 to-blue-500 text-white rounded-md">
          DIANOSIS SEKARANG
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ml-4">
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
          </svg>
        </button>
      </form>
    </main>
  </body>
</html>
